
$padding: 0 3vw 3vw;

.about {

    .hero {
        padding: $padding; 
    }

    .approach {
        padding: $padding;

        &-headline {
            padding:2vw 0;
        }
        
        &-item {

        }
    }

    .experience {
        background: red;
        padding: $padding;

        &-headline {
            padding:2vw 0;
        }

        &-item {
            
        }
    }

    ._2R-kh {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3vw;

        ._wPDyp {
            width: 30vw;
            height: 30vh;
            max-height: 25rem;
            overflow: hidden;
            justify-content: center;
            transition: all .25s;
            position: relative;
            background: #fff;

            a {
                
            }

            &:hover {
                z-index: 100;
                transform: scale(1.06);
                box-shadow: 0 0 14px rgba(0, 0, 0, 0.2)  ; 
	            -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2)  ; 
	            -moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2)  ;

                img, video {
                    opacity: .7;
                }
            }

            img {
                width: 100%;
                height: auto;
            }

            video {
                width: 100%;
                height: auto;
            }

            ._3xnQP {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                color: rgba(255,255,255,.5);

                .icon {
                    svg {
                        width: 102px!important;
                        height: 220px;
                    }
                }
            }
        }
    }
}