
$padding: 0 3vw 3vw;

.about {

    .hero {
        padding: $padding; 
    }

    .approach {
        padding: $padding;

        &-headline {
            padding:2vw 0;
        }
        
        &-item {

        }
    }

    .experience {
        background: red;
        padding: $padding;

        &-headline {
            padding:2vw 0;
        }

        &-item {
            
        }
    }
}